.vscode/
node_modules/
.idea/
docs/.vuepress/build
docs/.vuepress/components
docs/.vuepress/dist
docs/.vuepress/db
docs/.vuepress/theme
docs/.vuepress/utils
docs/.vuepress/constants.js
docs/.vuepress/pre-build.js
docs/.vuepress/styles
docs/.vuepress/style.styl
docs/idea
docs/plan
docs/review
TODO.md
chrome-mac
carbon-config.json
deploy.sh
