.custom-block .custom-block-title {
  margin-bottom 1rem
  font-size 1.1rem
}

h1, h2, h3, h4, h5, h6 {
  color #2c3e50
  font-weight 500
}

h2 {
  border-bottom 0
}

.content:not(.custom) > h2 {
  margin-bottom 1rem
}

.custom-block.tip {
  padding 1.5rem
  margin 2rem 0
  border-radius .5rem
}

.leancloud-visitors {
  display block
  margin-bottom 1rem
}
